<!DOCTYPE html>
<html>
<head>
    <title>Send Data to Server</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <p>Sample version of app for testing micro service.</p>
    <ul>
        <li>Little Women <button onclick="sendData('Little Women')">Summary</button></li>
        <li>The Little Prince <button onclick="sendData('The Little Prince')">Summary</button></li>
    </ul>

    <!-- Bootstrap Modal -->
    <div class="modal" id="resultsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Results</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script>
        function sendData(data) {
            fetch('/send_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: data })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Failed to send data.');
                }
            })
            .then(data => {
                // Check if data was successfully received
                if (data && data.success && data.data) {
                    // Populate the modal with the received data
                    document.getElementById('modalContent').textContent = data.data;
                    // Show the modal
                    $('#resultsModal').modal('show');
                } else {
                    console.error('Invalid data received.');
                }
            })
            .catch(error => {
                console.error('Error sending data:', error);
            });
        }
    </script>
</body>
</html>
